<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gravity"
        class="XMLDepend.Gravity"
        init-method="initMethod">
        <constructor-arg name="name1" value="Body 1"/>
        <constructor-arg name="name2" value="Body 2"/>
        <property name="m1" value="200"/>
        <property name="m2" value="63.7"/>

    </bean>
</beans>